name: Go

on: [push]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go from go.mod
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - run: go version

      - name: Run unit tests
        run: |
          go test -race -timeout 15s \
            -coverprofile /tmp/coverage.out \
            ./...
